---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Section from "@layouts/Section.astro";


import Data from "../../public/data.json";
import Project from "@components/Project.astro";
---

<Layout title="Julian Barker">
	<Header name="header" page="about"></Header>
	<main class='overflow-scroll scroll-py-16 scroll-smooth snap-y snap-mandatory' >
		<h1
			class="my-4 text-center text-3xl md:text-5xl font-audiowide text-transparent bg-gradient-to-r from-orange-900 via-amber-400 to-orange-700 bg-clip-text drop-shadow-xl xl:text-6xl"
		>
			About Me...
		</h1>

		<Section heading='Welcome!'>
			<p class="mb-2 text-center text-xl text-zinc-300 sm:text-2xl">
				Hi, I'm <span class="text-amber-500">Julian</span>!
			</p>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				Welcome to my personal site!
			</p>
		</Section>

		<Section heading='Background'>

		</Section>
		
		<Section heading='Goals'>

		</Section>

		<Section heading='Interests'></Section>

		<Section heading='Hobbies'></Section>

		<Section heading='Thank You...'>
			<p class="mb-2 text-center text-xl text-zinc-300 sm:text-2xl">
				Dear <span class="text-amber-500">Visitor</span>,
			</p>
			<p class="text-center text-lg text-zinc-300 sm:text-2xl">
				Thanks 🙏 so much for coming to check out my portfolio site! 
			</p>
			<br>
			<p class="text-center text-lg text-zinc-300 sm:text-2xl">
				I'm proud of what I've learned in a short time, and this site is and will continue to be a reflection of my knowledge of web-development.
			</p>
			<br>
			<p class="text-center text-lg text-zinc-300 sm:text-2xl">
				Feel free to contact me with comments / suggestions for improvement, or with any questions at all!
			</p>
			<br>
			<p class="text-center text-5xl sm:text-7xl">
				👋
			</p>
		</Section>


	</main>
</Layout>
