---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Section from "@layouts/Section.astro";
---

<Layout title="Julian Barker">
	<Header name="header" page="about"></Header>
	<main class='overflow-scroll scroll-py-16 scroll-smooth snap-y snap-mandatory' >
		<h1
			class="my-4 text-center text-3xl md:text-5xl font-audiowide text-transparent bg-gradient-to-r from-orange-900 via-amber-400 to-orange-700 bg-clip-text drop-shadow-xl xl:text-6xl"
		>
			About Me...
		</h1>

		<Section heading='Welcome!'>
			<p class="mb-2 text-center text-xl text-zinc-300 sm:text-2xl">
				Hi, I'm <span class="text-amber-500">Julian</span>!
			</p>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				Welcome to my personal site!
			</p>
		</Section>

		<Section heading='Background'>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				I grew up in CT with my parents and brother. After high school, I attended the United States Military Academy (West Point), and 4 years later, I earned my B.S. in Electrical Engineering and commissioned as an Infantry Officer in the U.S. Army.
			</p>
			<br>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				I spent 6 years in the Army, during which time I held various leadership and managerial roles. I was responsible for anywhere from 30 to 130 Soldiers and their associated equipent, collectively worth over $100 million.  This was an invaluable learning experience that taught me skills in leadership, teamwork, team-building, project and time management, and logistics.
			</p>
			<br>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				I have since exited the military (August '22), and am now enrolled in the Code Fellows coding bootcamp where I am learning full-stack web development in Javascript and its associated frameworks and libraries. I have had nothing but good experiences thus far, and I can't wait to see what the future holds!
			</p>
		</Section>
		
		<Section heading='Goals'>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				I am searching for opportunities to contribute my talents to a worthwhile cause and hone my skills among a team of talented software engineers. I am really looking forward to one day being in a position where I am teaching others, as I've appreciated all the help I've had in learning thus far!
			</p>
			<br>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				Looking out into the longer term, I am planning to pursue a masters in C.S. at some point. I would also be trhilled to interact with what I see as some of the world's toughest and most important problems: AI, clean energy, and space travel.
			</p>
		</Section>

		<Section heading='Interests'>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				I'm very curious about a lot of different things, but my professional interests especially include web development, artificial intelligence / machine learning, clean energy, space travel, and web3 / blockchain / distributed-ledger technologies.
			</p>
			<br>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				Outside of science and technology, I also enjoy good food, good coffee, good friends, and my good dog. I also nerd out over anime at times, and used to be an avid gamer, although not so much these days (balance is hard...).
			</p>
		</Section>

		<Section heading='Hobbies'>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				When I'm not writing, reading, or learning about code, I love to spend my time outdoors, especially in the wilderness.
			</p>
		</Section>

		<Section heading='Thank You...'>
			<p class="mb-2 text-center text-xl text-zinc-300 sm:text-2xl">
				Dear <span class="text-amber-500">Visitor</span>,
			</p>
			<p class="text-center text-lg text-zinc-300 sm:text-2xl">
				Thanks 🙏 so much for coming to check out my portfolio site! 
			</p>
			<br>
			<p class="text-center text-lg text-zinc-300 sm:text-2xl">
				I'm proud of what I've learned in a short time, and this site is and will continue to be a reflection of my knowledge of web-development.
			</p>
			<br>
			<p class="text-center text-lg text-zinc-300 sm:text-2xl">
				Feel free to contact me with comments / suggestions for improvement, or with any questions at all!
			</p>
			<br>
			<p class="text-center text-5xl sm:text-7xl">
				👋
			</p>
		</Section>


	</main>
</Layout>
