---
import "@fontsource/special-elite";
import "@fontsource/audiowide";
import "@fontsource/fira-code";
import "@fontsource/major-mono-display";
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Section from "@layouts/Section.astro";
---

<Layout title="Julian Barker">
	<main class='scroll-smooth snap-start snap-proximity'>
		<Hero />
		<Section heading='Welcome!'>
			<p class="mb-2 text-center text-xl text-zinc-300 sm:text-2xl">
				Hi, I'm <span class="text-amber-500">Julian</span>,
			</p>
			<p class="text-center text-xl text-zinc-300 sm:text-2xl">
				I'm a junior software developer with an insatiable appetite for learning
				new skills and tools. I'm looking forward to a lifelong career of
				growth and contribution to worthy causes!
			</p>
		</Section>
		<Section heading='Skills'>

		</Section>
		<Section heading='Projects'>

		</Section>
		<Section heading='Experience'>

		</Section>
		<Section heading='More About Me'>
			
		</Section>
		<!-- SKILLS -->
		<div class="skills py-4 px-8">
			<div class='max-w-screen-lg mx-auto'>
				<h2
					class="text-2xl font-semibold text-center text-zinc-300 sm:text-3xl"
				>
					Skills
				</h2>
			</div>
		</div>
		<div class="portfolio py-4 px-8">
			<div class='max-w-screen-lg mx-auto'>
				<h2
					class="text-2xl font-semibold text-center text-zinc-300 sm:text-3xl"
				>
					Portfolio
				</h2>
			</div>
		</div>
		<div class="experience py-4 px-8">
			<div class='max-w-screen-lg mx-auto'>
				<h2
					class="text-2xl font-semibold text-center text-zinc-300 sm:text-3xl"
				>
					Experience
				</h2>
			</div>
		</div>
		<div class="about py-4 px-8">
			<div class='max-w-screen-lg mx-auto'>
				<h2
					class="text-2xl font-semibold text-center text-zinc-300 sm:text-3xl"
				>
					About
				</h2>
			</div>
		</div>
	</main>
</Layout>

<style>
	html {
		font-family: "Fira Code";
	}
</style>
