---
export interface Props {
  height: string;
}

// const { height } = Astro.props;
---
<div class="relative bg-zinc-900">
  <div class='h-52'>
  
  </div>
  <div class='absolute top-1/2 left-0 right-0 z-10 py-6 -translate-y-1/2'>
    <h1 class="font-fira font-bold mx-auto mb-2 text-center text-2xl text-amber-600">
      -- Contact --
    </h1>
    <div class="w-fit mx-auto text-stone-300">
      <p>
        Email: 
        <a href="mailto:julian.c.barker@gmail.com" target="_blank" class="text-amber-200 hover:text-amber-300 active:text-purple-400">
          julian.c.barker@gmail.com
        </a>
      </p>
      <p>
        LinkedIn: 
        <a href="https://www.linkedin.com/in/julian-c-barker/" target="_blank" class="text-amber-200 hover:text-amber-300 active:text-purple-400">
          www.linkedin.com/in/julian-c-barker
        </a></p>
      <p>
        Github: 
        <a href="https://github.com/julian-barker" target="_blank" class="text-amber-200 hover:text-amber-300 active:text-purple-400">
          github.com/julian-barker
        </a>
      </p>
      <p>
        FaceBook: 
        <a href="https://www.facebook.com/julian.c.barker" target="_blank" class="text-amber-200 hover:text-amber-300 active:text-purple-400">
          www.facebook.com/julian.c.barker
        </a>
      </p>
      <!-- <p><a href=""></a></p> -->
    </div>
  </div>
</div>