---
import { Icon } from 'astro-icon';

export interface Props {
  height: string;
}

// const { height } = Astro.props;
---
<div class="relative bg-zinc-900">
  <div class='h-52'>
  
  </div>
  <div class='absolute top-1/2 left-0 right-0 z-10 py-6 -translate-y-1/2'>
    <h1 class="font-fira font-bold mx-auto mb-3 text-center text-2xl text-amber-600">
      -- Contact --
    </h1>
    <div class="w-fit mx-auto px-2 flex gap-x-2 text-xs text-stone-300">
      <a href="mailto:julian.c.barker@gmail.com" target="_blank" class="border-2 border-amber-100 hover:border-amber-200 rounded-full h-14 w-14 grid place-items-center text-amber-100 hover:text-amber-200 active:text-purple-400">
        <Icon name="carbon:email" />
      </a>
      <a href="https://www.linkedin.com/in/julian-c-barker/" target="_blank" class="border-2 border-amber-100 hover:border-amber-200 rounded-full h-14 w-14 grid place-items-center text-amber-100 hover:text-amber-200 active:text-purple-400">
        <Icon name="carbon:logo-linkedin" />
      </a>
      <a href="https://github.com/julian-barker" target="_blank" class="border-2 border-amber-100 hover:border-amber-200 rounded-full h-14 w-14 grid place-items-center text-amber-100 hover:text-amber-200 active:text-purple-400">
        <Icon name="carbon:logo-github" />
      </a>
      <a href="https://www.facebook.com/julian.c.barker" target="_blank" class="border-2 border-amber-100 hover:border-amber-200 rounded-full h-14 w-14 grid place-items-center text-amber-100 hover:text-amber-200 active:text-purple-400">
        <Icon name="carbon:logo-facebook" />
      </a>
    </div>
  </div>
</div>

<style lang='css'>

  [astro-icon] {
    display: inline;
    height: 2rem;
  }
  </style>