---
export interface Props {
	page: string;
  name: string;
}

const { page } = Astro.props;
const home = page === 'home';
---
<div>
  <div class={`${home ? 'h-28' : 'h-14'} backdrop-brightness-50`}></div>
  <nav class={`fixed top-0 z-10 w-screen ${home ? 'h-28' : 'h-14'} bg-stone-900`}>
    <div id="menu" class={`${home ? 'h-1/2' : 'h-full'} flex flex-wrap justify-evenly items-center`}>
      <a class="group mx-2 px-2 text-lg text-lime-600" href="/" >
        <span class="block mx-auto max-w-0 border-b border-lime-700 group-hover:max-w-full transition-all duration-200"></span>
        <span class='mx-2'>Home</span>
        <span class="block mx-auto max-w-0 border-b-2 border-lime-700 group-hover:max-w-full transition-all duration-300"></span>
      </a>
      <a class="group mx-2 px-2 text-lg text-lime-600" href="./about" >
        <span class="block mx-auto max-w-0 border-b border-lime-700 group-hover:max-w-full transition-all duration-200"></span>
        <span class='mx-2'>About</span>
        <span class="block mx-auto max-w-0 border-b-2 border-lime-700 group-hover:max-w-full transition-all duration-300"></span>
      </a>
    </div>
    <!-- {home &&
      <div id="menu" class="h-1/2 mx-2 grid grid-flow-row grid-cols-3 place-items-center items-center gap-x-2">
        <a class="group px-2 text-sm sm:text-lg text-lime-600" href="#skills" >
          <span class="block mx-auto max-w-0 border-b border-lime-700 group-hover:max-w-full transition-all duration-200"></span>
          <span >Skills</span>
          <span class="block mx-auto max-w-0 border-b-2 border-lime-700 group-hover:max-w-full transition-all duration-300"></span>
        </a>
        <a class="group px-2 sm:text-lg text-lime-600" href="#projects" >
          <span class="block mx-auto max-w-0 border-b border-lime-700 group-hover:max-w-full transition-all duration-200"></span>
          <span >Projects</span>
          <span class="block mx-auto max-w-0 border-b-2 border-lime-700 group-hover:max-w-full transition-all duration-300"></span>
        </a>
        <a class="group px-2 sm:text-lg text-lime-600" href="#experience" >
          <span class="block mx-auto max-w-0 border-b border-lime-700 group-hover:max-w-full transition-all duration-200"></span>
          <span >Experience</span>
          <span class="block mx-auto max-w-0 border-b-2 border-lime-700 group-hover:max-w-full transition-all duration-300"></span>
        </a>
      </div>
    }   -->
  </nav>
</div>