---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import "@fontsource/special-elite";
import "@fontsource/audiowide";
import "@fontsource/major-mono-display";

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Julian Barker's personal website and portfolio. A beautiful website built in Astro and styled with Tailwind CSS that lists and displays his notable skills, accomplishments, projects, and experience." />
		<title>{title}</title>
	</head>
	<body >
		<div id="fixed-bg" class="fixed inset-0 -z-10 bg-stone-800 bg-repeat"></div>
		<header>
			<slot name="header" />
		</header>
		<slot />
		<footer>
			<slot name="footer" />
		</footer>
	</body>
</html>

<style is:global>
	html {
		font-family: "Fira Code", system-ui, sans-serif;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	#fixed-bg {
		background-image: url('/images/topography.svg');
	}
</style>
